

<a><span class="glyphicon glyphicon-cloud-upload" style="font-size:12px;color:#607D8B" (click)="openModal(template)" title="Open Properties"></span></a>
<ng-template #template>
  <div class="col-md-12 shadow-box">
    <label for="searchpropertyName">{{property}}</label>
    <input type="text" [(ngModel)]="search" class="form-control" id="searchpropertyName" aria-describedby="propertyName" placeholder="Enter A property Name"/>
    <table class="table table-striped col-md-12">
              <tr>
                <th>cnameFrom</th>
                <th>cnameTo</th>
                <th>cnameType</th>

             </tr>
              <tr *ngFor="let hostname of propertyHostnames |filter:search" >
                <td>{{hostname.cnameFrom}}</td>
                <td>{{hostname.cnameTo}}</td>
                <td>{{hostname.cnameType}}</td>
              </tr>
    </table>
</div>
</ng-template>
